@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,800&family=Pacifico&family=Paytone+One&family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,800;1,500&display=swap');
*{

margin: 0;
padding: 0;
overflow-x:hidden ;

}

body {
  font-size: 16px;
  font-weight: 300;
  line-height: 23px;
   font-family: "Montserrat";
}

ul {
  list-style-type: none;
}

a:hover {
  text-decoration: none;
}

h4{
   text-align: center;
    color: #F2C64D;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 18px;
    display: block;
    font-family: "Pacifico", cursive;
    overflow-y: hidden;
}
h2{
    font-size: 50px;
    font-weight: 700;
    color: #1A0D01;
    font-family: "Montserrat";
    text-align: center;
    margin-bottom: 35px;
}

/*
body{
font-family: 'Montserrat', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Paytone One', sans-serif;
font-family: 'Raleway', sans-serif;
}*/

 a{
 	text-decoration: none;
 }

header{
background: #000;
position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    top: 0;
    z-index: 9;
}


.nav-link {
	font-size: 15px;
	color: #ffffff;
	font-family: 'Paytone One', sans-serif;
	margin-bottom: 10px;
	vertical-align: middle;
}

.nav-link:hover{
	color: #f2c64d;}


.social-links ul{

	list-style: none;
	padding-left: 0px;
	margin-bottom: 0px;
 
}
.social-links li{
	display: inline-block;
	margin: 0 10px;
    font-size: 16px;
   	
}
  li a {
    color: #fff;
    text-decoration: none;
   
  
}
a:hover{
	color:#f2c64d ;
	transition: .6s;
}
.book-btn{
	background:transparent;
	border: solid 1px  #f2c64d;
	padding: 16px 28px;
	border-radius: 38px;
	font-family: 'Paytone One', sans-serif;
	font-weight: 500;
	font-size: 18px;

}
.book-btn a{
	color: #f2c64d!important;
}
.book-btn:hover a{
	color: #fff!important;
}
.book-btn:hover{
	background:#f2c64d;
	transition: .6s;
}

/*banner css*/

#banner .item { 

  height: 100vh;
  
}
.item{
	    position: relative;
       display: inline-block;
}
.banner-text {
			position: absolute;
        z-index: 9;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 50%; 
        text-align: center;
        
}
.banner-text h3{
    font-size: 100px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 100px;
    margin-bottom: 27px;
    color: #fff;
    font-family: "Paytone One", sans-serif;
    overflow-y: hidden;
 }
 .banner-text h4{
 	font-size: 140px;
    font-family: "Pacifico", cursive;
    color: #F2C64D;
    margin-top: -80px;

	}
	 .banner-text span{
	    font-size: 20px;
    font-family: "Paytone One", sans-serif;
    font-weight: 400;
    color: #fff;
 }




/*burger menu css*/

  

#burger-menu{

    padding-bottom: 115px;
    padding-top: 140px;
    background-image: url(images/bg2.png)!important;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

}

.tite-section span{
	    color: #F2C64D;
    font-size: 29px;
    font-weight: 400;
    margin-bottom: 18px;
    display: block;
    font-family: "Pacifico", cursive;
    text-align: center;
    overflow-y: hidden;
}
.tite-section h3{
	font-size: 50px;
    font-weight: 700;
    color: #1A0D01;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 23px;
}

.menu1 h4{
    font-size: 30px;
    color: #1A0D01;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
 	text-align: left;
    
}

.menu1 p{
	  font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 16px;
    margin-bottom: 6px;
    color: #6E6E6E;
    font-family: "Montserrat", sans-serif;
  
}
.menu1 span{
display: block;
    font-weight: 700;
    font-size: 24px;
    color: #F0542C;
    font-family: "Montserrat", sans-serif;
    overflow-y: hidden;
  

}
.menu1{
	    margin: 35px 9px;
}
.menu-item{
	    margin-left: 12px;



}
.item-link {

	text-align: center;
	margin-top: 55px;
	border-radius: 50px;
    padding: 22px 44px;
    cursor: pointer;
    background: transparent;
    color: #F0542C !important;
    border: 1px solid #F0542C;
}
.item-link a{
	text-decoration: none;
	color: #F0542C;
	font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.item-link:hover {
	
    background: #F0542C;
    transition: .8s;
 
}
.item-link:hover a{
	color: #fff !important;
	transition: .8s;
}



/*burger president css*/



.president-area{
	padding: 80px 0;
}
 .room-inner span{

 	font-size: 30px;
    font-weight: 700;
    color: #F0542C;
    font-family: "Montserrat", sans-serif;
    display: block;
    margin-bottom: 3px;
    overflow-y: hidden;
 }
  .room-inner h3{

  	font-size: 34px;
    color: #FFFFFF;
    position: relative;
    z-index: 8;
    font-weight: 700;
 }
 .room-inner p{
 	    font-size: 16px;
    color: #E8E8E8;
    line-height: 28px;
    position: relative;
    z-index: 1;
    margin-top: 9px;
    margin-bottom: 18px;

 }
 .box-btn{
 	background: #F2C64D;
    display: inline-block;
    padding: 18px 44px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    border: 0;
    border: 1px solid transparent;
    text-align: center;
    color: #fff !important;
    text-transform: uppercase;
   border-radius: 30px;
    padding: 9px 30px;
 }

 .box-btn:hover{
 	background: transparent;
    color: #F2C64D;
    border: 2px solid #F2C64D;
 }
.room-inner   a{
    color: #fff;
    text-decoration: none !important;
    text-transform: capitalize;
    font-weight: 600;
 
 }
 .room-thumb{
 	position: relative;
  overflow-y: hidden;
 }
.room-head{
	 	position: absolute;
	    /*left: 0;
	    right: 0;
	    bottom: 0px;*/
	   bottom: 45px;
	   left: 82px;
 }

.president-area{
	
	overflow: hidden;

}
.single_Burger_President img {
	transform: scale(1);
	transform: scale(1);
	transition: .3s ease-in-out;
	transition: .8s ease-in-out;


}
.single_Burger_President :hover img {
	transform: scale(1.3);
	transform: scale(1.3);
	transition: .8s;

}

/*about css*/

#about {
    background-image: url(images./client3.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
	padding: 130px 0;
  /*background-color: red;*/
	
} 

.about-chef{
	position: relative;
	overflow: hidden;
}
.chef-img-2{
	
    position: absolute;
    right: -40px;
    bottom: -70px;
}

.about-detail h4{
	overflow-y: hidden;
    color: #F2C64D;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 18px;
    display: block;
    text-align: left;
    font-family: "Pacifico", cursive;
}
.about-detail h3{
	 font-size: 50px;
    font-weight: 700;
    color: #1A0D01;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
}
.about-detail p{
	font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #4D4D4D;
    margin-bottom: 13px;
    font-family: 'Raleway', sans-serif;

 }
 .about-detail img{

 	margin-top: 25px;
 }

 /*video css*/


#burger-vdo .video-overlay{
  background-image: url(images./item8.png);
 
     background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
 }







/*.inner-text h3{*/
         /*font-size: 70px;*/
  /*  color: #fff;*/
    /*line-height: 80px;*/
  /*  font-weight: 400;
    font-family: "Paytone One", sans-serif;
    text-transform: uppercase;
    margin-bottom: 0;*/
 }
 /*.inner-text span{*/
 	
 	/*font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
  */  display: block;
  /*  margin-top: 14px;
    margin-bottom: 36px;*/
/*}*/




/*testimonial css*/




/*body {
  font-family: "Montserrat", sans-serif;
}*/
.testimonial {
  padding: 100px 0;
}
.testimonial .row .tabs {
  all: unset;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
}
 .testimonial .row .tabs li {
  all: unset;
  display: block;
  position: relative;
}
 .testimonial .row .tabs li.active::before {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  background-color:  #F2C64D;
  border-radius: 50%;
}
 .testimonial .row .tabs li.active::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  background-color:  #F2C64D;;
  border-radius: 50%;
}
 .testimonial .row .tabs li:nth-child(1) {
  align-self: flex-end;
}
 .testimonial .row .tabs li:nth-child(1)::before {
  left: 64%;
  bottom: -50px;
}
 .testimonial .row .tabs li:nth-child(1)::after {
  left: 97%;
  bottom: -81px;
}
 .testimonial .row .tabs li:nth-child(1) figure img {
  margin-left: auto;
}
 .testimonial .row .tabs li:nth-child(2) {
  align-self: flex-start;
}
 .testimonial .row .tabs li:nth-child(2)::before {
  right: -65px;
  top: 50%;
}
 .testimonial .row .tabs li:nth-child(2)::after {
  bottom: 101px;
  border-radius: 50%;
  right: -120px;
}
 .testimonial .row .tabs li:nth-child(2) figure img {
  margin-right: auto;
  max-width: 300px;
  width: 100%;
  margin-top: 0px;
}
 .testimonial .row .tabs li:nth-child(3) {
  align-self: flex-end;
}
 .testimonial .row .tabs li:nth-child(3)::before {
  right: -10px;
  top: -66%;
}
 .testimonial .row .tabs li:nth-child(3)::after {
  top: -130px;
  border-radius: 50%;
  right: -46px;
}
 .testimonial .row .tabs li:nth-child(3) figure img {
  margin-left: auto;
  margin-top:0px;
}
 .testimonial .row .tabs li:nth-child(3):focus {
  border: 10px solid red;
}
 .testimonial .row .tabs li figure {
      position: relative;
    overflow-y: hidden;
}
 .testimonial .row .tabs li figure img {
  display: block;
}
 .testimonial .row .tabs li figure::after {
  content: "";
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border: 4px solid #F2C64D;;
  border-radius: 50%;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
 .testimonial .row .tabs li figure:hover::after {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
 .testimonial .row .tabs.carousel-indicators li.active figure::after {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
 .testimonial .row .carousel > h3 {
  font-size: 20px;
  line-height: 1.45;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
  margin-bottom: 0;
}
 .testimonial .row .carousel h1 {
  font-size: 40px;
  line-height: 1.225;
  margin-top: 23px;
  font-weight: 700;
  margin-bottom: 0;
}
 .testimonial .row .carousel .carousel-indicators {
  all: unset;
  padding-top: 43px;
  display: flex;
  list-style: none;
}
.testimonial .row .carousel .carousel-indicators li {
  background: #000;
  background-clip: padding-box;
  height: 2px;
}
 .testimonial .row .carousel .carousel-inner .carousel-item .quote-wrapper {
  margin-top: 42px;
}
.testimonial .row .carousel .carousel-inner .carousel-item .quote-wrapper p {
  font-size: 18px;
  line-height: 1.72222;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
}
.testimonial .row .carousel .carousel-inner .carousel-item .quote-wrapper h3 {
  color: #000;
  font-weight: 700;
  margin-top: 37px;
  font-size: 20px;
  line-height: 1.45;
  text-transform: uppercase;
}
/*insta css*/


#instagram{
  padding: 180px 0;
}

.instagram-1{
    float: left;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    border-radius: 50%;
    overflow: hidden;
 }
 .instagram-1 img{
  width: 100%;
  margin: 0 auto;
 
}

.insta-overlay{

    position: absolute;
    left: 15px;
    top: 15px;
    bottom: 15px;
    background: rgba(26, 13, 1, 0.3);
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    right: 15px;
    border-radius: 50%;
    border: 1px dashed #fff;
    transform: scale(0.8);
 }

.insta-overlay a{
     color: #fff;
    position: absolute;
    left: 0;
    top: 50%;
     right: 0;
    text-align: center;
    font-size: 30px;
 }

/*footer css*/

 #footer{

 /*background-image: url(images./bg2.png);
    background-size: cover;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;*/
    padding: 100px 0 !important;
 }
 #footer .footer-text1{
  text-align: center;
 }

 #footer .footer-text1 .footer-title{
    font-size: 24px;
    font-weight: 700;
    color: #1a0d01;
    text-transform: capitalize;
    margin-bottom: 39px;
    font-family: "Montserrat",sans-serif;
}


.footer-text1 p{
    color: #6e6e6e;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

.footer-text1 p a{
      color: #6e6e6e;
    font-size: 18px;
    font-weight: 400;

}
 #footer .footer-text1 .number{
    color: #f0542c;
    font-weight: 500;
    font-size: 23px;
    line-height: 28px;
    font-family: "Montserrat",sans-serif;

}
.newsletter_form input{
width: 100%;
    height: 50px;
    background: #f5fbff;
    padding-left: 20px;
    font-size: 15px;
    color: #000;
    border: none;
    border: 1px solid #e8e8e8;
    border-radius: 30px;
  }    


  .newsletter_form {
    position: relative;
    margin-bottom: 20px;
  }

 .newsletter_form  button{  
   position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    border: none;
    color: #fff;
    background: #f0542c;
    padding: 10px;
    padding: 0 22px;
    cursor: pointer;
    border-radius: 30px;
    top: 5px;
    right: 5px;
    font-size: 16px;
    font-weight: 600;
  }

.newsletter_text p{
    font-size: 16px;
    color: #6e6e6e;
    line-height: 26px;
    font-weight: 400;
}


  .social{
    margin-top: 85px;
    margin-left: 79px
}

#footer .social ul li{
  display: inline-block;
}

#footer .social ul li a{
    font-size: 18px;
    overflow-y: hidden;
    color: #f0542c;
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    background: transparent;
   border-radius: 50%;
    line-height: 40px!important;
    margin-right: 10px;
    line-height: 50px!important;
    border: 1px dashed #f0542c;
  }
  
#footer .social ul li a:hover{

  color: #fff!important;
    background: #f0542c;
    border-color: transparent;
}


